
@font-face {
    font-family: 'thisfont';
    src: url('/fonts/thisfont.ttf');
}
@font-face {
    font-family: 'fancy';
    src: url('/fonts/fancy.ttf');
}
@font-face {
    font-family: 'eater';
    src: url('/fonts/eater.ttf');
}
@font-face {
    font-family: 'm3x6';
    src: url('/fonts/m3x6.ttf');
}
@font-face {
    font-family: 'dm mono';
    src: url('/fonts/dmmono.ttf');
}
@font-face {
    font-family: 'm5x7';
    src: url('/fonts/m5x7.ttf');
}
@font-face {
    font-family: 'nunito';
    src: url('/fonts/nunito.ttf');
}
@font-face {
    font-family: 'crimson';
    src: url('/fonts/crimson.ttf');
}
@font-face {
    font-family: 'vga';
    src: url('/fonts/vga.woff');
}
@font-face {
    font-family: 'charon mono';
    src: url('/fonts/charon.ttf');
}
@font-face {
    font-family: 'barcode';
    src: url('/fonts/barcode.ttf');
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes slidedown {
    from {
        transform: translateY((-100%));
    }
    to {
        transform: translateY((0%));
    }
}

@keyframes slidedownDouble {
    from {
        transform: translateY((-200%));
    }
    to {
        transform: translateY((0%));
    }
}

@keyframes slideup {
    from {
        transform: translateY((100%));
    }
    to {
        transform: translateY((0%));
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

html,
button:disabled {
    cursor: url('/images/cursor/default.webp'), default !important;
}
input, button, a {
    cursor: url('/images/cursor/pointer.webp'), pointer !important;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comark-content {
    padding: 0.5rem;
}

$black: var(--black);
$purple: var(--purple);
$darkblue: var(--darkblue);
$darkgray: var(--darkgray);
$brown: var(--brown);
$darkgreen: var(--darkgreen);
$red: var(--red);
$gray: var(--gray);
$blue: var(--blue);
$orange: var(--orange);
$lightgray: var(--lightgray);
$green: var(--green);
$pink: var(--pink);
$lightblue: var(--lightblue);
$yellow: var(--yellow);
$white: var(--white);

.theme-16 {
--black: #140c1c;
--purple: #442434;
--darkblue: #30346d;
--darkgray: #4e4a4e;
--brown: #854c30;
--darkgreen: #346524;
--red: #d04648;
--gray: #757161;
--blue: #597dce;
--orange: #d27d2c;
--lightgray: #8595a1;
--green: #6daa2c;
--pink: #d2aa99;
--lightblue: #6dc2ca;
--yellow: #dad45e;
--white: #deeed6;
}

.theme-8 {
--black: #381631;
--purple:#381631;
--darkblue: #105390;
--darkgray: #381631;
--brown: #e26159;
--darkgreen: #1b958d;
--red: #e21c61; 
--gray: #381631;
--blue: #105390;
--orange: #e26159;
--lightgray: #d8dcb4;
--green: #1b958d;
--pink: #e21c61;
--lightblue: #5eb6ad;
--yellow: #fea85f;
--white: #d8dcb4;
}